.clickable-card {
  cursor: pointer;
}

.clickable-card:hover {
  background-color: rgb(0, 123, 255);
  transform: scale(1.03);
}

.clickable-card:active {
  background-color: #005abb;
}

.clickable-card:hover .hoverIcon {
  color: #f7f7f7;
}

.clickable-card:hover .addPetCardTitle {
  color: #ffffff;
}

.clickable-card {
  border-color: #1888ff !important;
  background-color: #1888ff;
  color: #f7f7f7;
}
